# Set line endings for Maven wrapper
/mvnw text eol=lf
*.cmd text eol=crlf

# Force all Java files to be counted as Java
*.java linguist-language=Java

# Ignore HTML templates completely for language stats
src/main/resources/templates/* linguist-vendored=true

# Exclude static assets (CSS, JS, images) from language statistics
src/main/resources/static/* linguist-vendored=true
