# Set line endings for Maven wrapper
/mvnw text eol=lf
*.cmd text eol=crlf

# Force all Java files to be counted as Java
*.java linguist-language=Java

# Keep HTML templates counted normally
src/main/resources/templates/* linguist-vendored=false

# Exclude static assets (CSS, JS, images) from language statistics
src/main/resources/static/* linguist-vendored=true
